on init
    chown system system /dev/goodix_fp

on boot
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/wakeup_enable

on post-fs-data
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    chown system system /data/vendor

service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.2-service.xiaomi_violet
    class late_start
    user system
    group system input uhid
