# Copyright (c) 2012-2015, 2017-2019, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

# Firmware directory Path
# Below macro will be read by uevent and path will
# be added to search path for firmware loading
firmware_directories /vendor/firmware_mnt/image/

# The DIAG device node is not world writable/readable.
/dev/diag                 0660   system     oem_2901

/dev/wlan                 0660   wifi       wifi
/dev/kgsl-3d0             0666   system     system
/dev/ion                  0664   system     system
/dev/rtc0                 0660   system     system
/dev/smd7                 0660   bluetooth  bluetooth
/dev/ipa                  0660   radio      radio
/dev/wwan_ioctl           0660   radio      radio
/dev/ipaNatTable          0660   radio      radio
/dev/rmnet_ctrl           0660   usb        usb
/dev/dpl_ctrl             0660   usb        usb
/dev/ipa_odl_ctl          0660   radio      radio
/dev/ipa_adpl             0660   system     oem_2905

# Permissions for CSVT
/dev/smd11                0660   radio      radio

# Permissions for BT/FM
/dev/btpower              0660   bluetooth  system

/dev/smdcntl8             0640   radio      radio
/dev/at_mdm0              0640   radio      radio
/dev/video*               0660   system     camera
/dev/media*               0660   system     camera
/dev/v4l-subdev*          0660   system     camera
/dev/qseecom              0660   system     drmrpc
/dev/qce                  0660   system     drmrpc
/dev/smcinvoke            0660   system     drmrpc
/dev/adsprpc-smd          0664   system     system
/dev/adsprpc-smd-secure   0644   system     system

# qg
/dev/qg                   0660  system     system
/dev/qg_battery           0660  system     system

# Elliptic
/dev/elliptic0            0644   system       system
/dev/elliptic1            0644   system       system

# QVR
/dev/qvr_external_sensor_ioctl      0660  system  system
/sys/kernel/qvr_external_sensor/fd  0660  system  system

# Permissions for audio
/dev/msm_qcelp            0660   system     audio
/dev/msm_evrc             0660   system     audio
/dev/msm_wma              0660   system     audio
/dev/msm_wmapro           0660   system     audio
/dev/msm_alac             0660   system     audio
/dev/msm_ape              0660   system     audio
/dev/msm_amrnb            0660   system     audio
/dev/msm_amrwb            0660   system     audio
/dev/msm_amrwbplus        0660   system     audio
/dev/msm_aac              0660   system     audio
/dev/msm_multi_aac        0660   system     audio
/dev/msm_aac_in           0660   system     audio
/dev/msm_qcelp_in         0660   system     audio
/dev/msm_evrc_in          0660   system     audio
/dev/msm_amrnb_in         0660   system     audio
/dev/msm_amrwb_in         0660   system     audio
/dev/msm_audio_cal        0660   system     audio
/dev/msm_hweffects        0660   system     audio
/dev/msm_rtac             0660   system     audio
/dev/avtimer              0660   system     audio

# NFC permissions
/dev/nq-nci               0660    nfc         nfc

# UIO devices
/dev/uio0                 0660   system     system

# SSR devices
/dev/subsys_*             0640   system     system

# Ultrasound device
/dev/usf1                 0660   system     system

# Ramdump devices
/dev/ramdump*             0640   system     system

# FRP
/dev/block/platform/soc/1d84000.ufshc/by-name/frp       0600   system     system

# Kmsg device
/dev/kmsg                 0620   root       system

# LED class devices
/sys/class/leds/red      delay_on     0640    system    system
/sys/class/leds/red      delay_off    0640    system    system
/sys/class/leds/red      breath       0640    system    system
/sys/class/leds/green    delay_on     0640    system    system
/sys/class/leds/green    delay_off    0640    system    system
/sys/class/leds/green    breath       0640    system    system
/sys/class/leds/blue     delay_on     0640    system    system
/sys/class/leds/blue     delay_off    0640    system    system
/sys/class/leds/blue     breath       0640    system    system

# NPU device
/dev/msm_npu             0644   system     system

# USB role switch
/sys/class/dual_role_usb/*	data_role	0660	system	system
/sys/class/dual_role_usb/*	power_role	0660	system	system
/sys/class/dual_role_usb/*	mode		0660	system	system

/sys/devices/virtual/hdcp/msm_hdcp  min_level_change 0664    system  graphics
